<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground Home</title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    <% for(let campData of data) { %>
        <a href="/campground/<%- campData._id %>"><h1 class="titleColor"> <%-campData.title%> </h1></a>
    <%}%>


</body>
</html>