<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Campground</title>
</head>
<body>
    <form method = "POST" action="/campground">
        <label for="location">Location</label>
        <input name="camp[location]" id="location" type="text">

        <label for="title">Title</label>
        <input name="camp[title]" id="title" type="text">

        <label for="price">Price</label>
        <input name="camp[price]" id="price" type="number">

        <label for="image">Image</label>
        <input name="camp[image]" id="image" type="text">

        <label for="description">Description</label>
        <input name="camp[description]" id="description" type="text">

        <button>Submit</button>

    </form>
</body>
</html>